<h1>Gift Suggestions</h1>

<div class = "results_wrapper">

  <% @items.each do |x|%>
  <div class = "items">
    <p class= "item_name"><%= x["name"] %> <br></p>
    <p class= "item_image">  <%= link_to image_tag(x['mediumImage']), suggestion_path(x['itemId'])%></p>

    </div>
    <%end %>


  </div>
